@import '~style/helpers';



.container { 
	background-image: url('../../assets/backgrounds/blue.jpg');
	color: rgb(0, 0, 0);
	width: 414px;
	height: 736px;
	text-align: center;
	padding-top: 15px;
	margin: auto;
}

.city {
	font-size: 1.7em;
	font-weight: 400;
	position: fixed;
	top: 0;
}

.conditions {
	font-size: 20px;
	padding-bottom: 3em;
}


.temperature {
	margin-top: 0;
	font-size: 4.8em;
	font-weight: 300;
	letter-spacing: -5px;
}
.filled:after {
	content: "°";
	margin: 0 0 0 1rem;
	font-size: 0.5em;
	font-weight: 100;
	display: inline-block;
	vertical-align: top;
}

nav{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 15em;
	align-items: center;
	text-align: center;
	margin: 0;
}

.settings{
	width:37px;
	height:37px;
	align-items: center;
	margin: 0;
}

.weatherIcons{
	height:80px;
	margin: 0;
}

.forecastIcons{
	width:37px;
	height:37px;
}


.forecastList{
	list-style-type: none;
	display: inline-flex;
	padding-left: 5%;
	margin-left: 0%;
	padding-bottom: 6em;
	

}
.setting{
	padding-right: 15em;
	padding-left: 1em;
}
.forecastList li{
	list-style-type: none;
}
#location{
	text-decoration: none;
	right: 30em;
	font-weight: bold;
	color: rgb(0, 0, 0);
	font-size: 20px;

}
.title{
	text-decoration: none;
	right: 30em;
	font-weight: bold;
	color: rgb(0, 0, 0);
	font-size: 30px;

}
.windbutton{
	height: 4em;
	width: 4em;
}
.calenderbutton{
	height: 4em;
	width: 4em;
}
.mapbutton{
	height: 4em;
	width: 4em;
}
.homebutton{
	height: 4em;
	width: 4em;
}
.calender{
	background-color: royalblue;
	border-radius: 50%;
	width: 7em;
	height: 7em;
	float: right;
	border: none;
	margin-right: 2em;
}
.forecastorder{
	padding-right: 0.85em;
	margin: auto;
}
.wind{
	background-color: royalblue;
	border-radius: 50%;
	width: 7em;
	height: 7em;
	border: none;
}
.map{
	background-color: royalblue;
	border-radius: 50%;
	width: 7em;
	height: 7em;
	float: left;
	border: none;
	margin-left: 2em;
}
.calenderIcons{
	width: 10em;
	height: 10em;
}
.calendarfont{
	font-size: 2em;
}
.dropdown{
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.mySelect{
	color: #000000;
	text-align: center;
	height: 30px;
	width: 150px;
	padding: 7px 25px;
	outline: none;
}
.arrowN{
	height: 10em;
}

.arrowNW{
    transform: rotate(315deg);
	height: 10em;

}

.arrowW{
    transform: rotate(270deg);
	height: 10em;

}

.arrowSW{
    transform: rotate(225deg);
	height: 10em;

}

.arrowS{
    transform: rotate(180deg);
	height: 10em;

}

.arrowSE{
    transform: rotate(135deg);
	height: 10em;

}

.arrowE{
    transform: rotate(90deg);
	height: 10em;

}

.arrowNE{
    transform: rotate(45deg);
	height: 10em;

}
.tempStyles{
	font-size: 2em;
	font-weight: bold;
	padding-bottom: 2.5em;
}
.windName{
	font-size: 1.5em;
	font-weight: bolder;
}